<section id="add">
	<form action='/' method='post'>
		<textarea class="title_event" name='title' placeholder="Title of your event&hellip;"></textarea>
		<textarea class="description_event" name='description' placeholder="Description of your event&hellip;"></textarea>
		<p class="date_txt">Your event date is: </p><input type='date' class="datetime_picker" name="date_event">
		<textarea name='users_invited' class="people_invited" placeholder="People you want to invite...i.e. example@example.com,&hellip;"></textarea>
		<input type='submit' class="submit_button" value='Generate Invitation'>
	</form>
</section>

<section id="display_events">
	<h1 class="my_events_txt">My events</h1>
<% @events.each do |event| %>
	<article>
		<p>
			<%= event.title %>
			<span><a href="/check/event/<%= event.id %>">See the event description</a></span>
			<span><a href="/edit/event/<%= event.id %>">Edit Event</a></span>
			<span><a href="/delete/event/<%= event.id %>">Delete</a></span>
		</p>
		<p class="meta">Created: <%= event.created_at %></p>
	</article>
<% end %>
</section>